<header class="main-head">
	<nav>
		{{! <img src="./img/logo.png" alt="logo" /> }}
		<h1 id="logo">senras</h1>
		<ul>
			<li><a href="/">Sheet Generator</a></li>
			<li><a href="about">About me</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
</header>